@model OdoriRails.Models.LoginModel


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/signin.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js" language="javascript"></script>


@{
    ViewBag.Title = "Error";
    Layout = null;
}

<div class="container">
    <h1 class="text-danger">Error!</h1>
    <h3>Something went wrong. Please try again later.</h3>
    <p>
        <br />
        @Html.ActionLink("Try again", "Index", "Login", null, new { @class = "btn btn-primary" })
    </p>
</div>