@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SRLayoutShared.cshtml";
}

<div class="container-fluid">
    <table class="table-striped table-hover">

        <tr>
            <th>
                Id  
            </th>
            <th>
                Assigned Users
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                TramId
            </th>
            <th>
                Type
            </th>

        </tr> 
        @foreach (var scoreentry in Model.Scores)
        {
            <tr>
                <td>@scoreentry.PlayerName</td>
                <td>@scoreentry.EnemiesKilled</td>
                <td>@scoreentry.Score</td>
            </tr>
        }
    </table> 
</div>