@using OdoriRails.Models
@model OdoriRails.Models.DriverModel

@{
    ViewBag.Title = "Index";
}

<h2>Welkom, @Model.User.Name</h2>

@using (Html.BeginForm("Index", "Driver", FormMethod.Post))
{
    <center><label for="lblDetails">Details:</label></center>
    <center><textarea class="text-info"></textarea></center>
    <button type="button" class="btn btn-lg btn-primary pull-right" style="margin: 5px">Meld tram aan bij remise</button>
    <button type="button" class="btn btn-lg btn-primary pull-right" style="margin: 5px">Meld tram aan voor vertrek</button>
}