@using System.Web.Mvc.Html
@using OdoriRails.Helpers.Objects
@model OdoriRails.Models.SRManagement.SRModel
@{
    ViewBag.Title = "EditService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditService</h2>

<form method="post" action="">
    Start Date:<br> 
    <input type="date" name="startDate" value=""><br>
    End date:<br><br>
    <input type="date" name="endDate" value=""><br><br>
    Cleaning Size:<br><br>
    <input type="radio" name="Size" value="Small" checked> Small<br>
    <input type="radio" name="Size" value="Big"> Big<br> 
    Comment:<br><br>
    <input type="text" name="endDate" value=""><br><br>
    Assigned Users:
    @foreach (var user in Model.Cleaners)
    {
        <input type="checkbox" name="@user.Name" value=@user.Id>@user.Name<br/>
    }
    
 
    }
    <input type="submit" value="Submit">
</form> 
